* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #EE85B5;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    
}

p::selection {
    background: #EE85B5;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: auto;
}

/*Nav*/

.nav-principal {
    background-color: #EE85B5;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px 0;
}

/*Menu izquerda*/

.menu {
    display: flex;
}

.menu li {
    padding: 10px;
}

.menu li a {
    padding: 24px;
}

.nav-principal li a:hover {
    background-color: #FF958C;
}

.menu {
    flex: 1;
    justify-content: space-evenly;
}

.nav-principal img {
    width: 200px;
}

/*Div Posts*/

.posts {
    padding: 120px;
}

.publicacion {
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
}

.descripcion {
    float: left;
    margin-left: 20px;
}

.imagen {
    width: 600px;
    height: 800px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 10px 15px rgba($color: #000000, $alpha: 1.0);
}

.imagen img {
    background-color: none;
    width: 800px;
    height: 100%;
    transition: 2s;
}

.imagen img:hover {
    transform: translate(-5%);
    filter: brightness(80%);
}

/*Footer*/

.footer {
    background-color: black;
    font-size: 16px;
    display: flex;
    padding: 50px 50px;
    align-items: center;
}

.footer div {
    padding: 30px;
}
.footer ul li a:hover {
    border-bottom: 1px solid white;
}

.footer h4 {
    font-size: 20px;
}


/*Movil*/

#menuMovil {
    display: none;
}

@media(max-width: 800px) {

    .publicacion {
        flex-direction: column;
        
    }

    .imagen {
       width: 200%;
       overflow: hidden;
   }

   .imagen img {
       width: 800px;
       height: 100%;
       transform: translate(-10%);
   }

   .imagen img:hover {
       transform: translate(-15%);
       filter: brightness(80%);
   }

    #menuMovil {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 25px;
        left: 25px;
        user-select: none;
    }
    
    #menuMovil input {
        display: flex;
        width: 42px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 102;
        top: -10px;
        left: -10px;
    }
    
    #menuMovil span {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #fff;
        border-radius: 3px;
        z-index: 101;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(.77, .2, .05, 1), background .5s cubic-bezier(.77, .2, .05, 1), opacity .55s ease;
    }
    
    #menuMovil span:first-child {
        transform-origin: 0% 0%; 
     }
    
     #menuMovil input:nth-last-child(2) {
        transform-origin: 0% -100%; 
     }
    
     #menuMovil input:checked ~ span {
         opacity: 1;
         transform: rotate(45deg) translate(-3px, -1px);
         background:  #fff;
     }
    
     #menuMovil input:checked ~ span:nth-last-child(3) {
         opacity: 0;
         transform: rotate(0deg) scale(0.2, 0.2);
     }
    
     #menuMovil input:checked ~ span:nth-last-child(2) {
         transform: rotate(-45deg) translate(0, -1px);
     }
    
     #menuMovil ul {
         z-index: 100;
         position: absolute;
         width: 100vw;
         height: 100vh;
         box-shadow: 0 0 5px #000000;
         margin: -50px 0 0 -75px;
         padding: 50px;
         padding-top: 15vh;
         text-align: center;
         font-size: 150%;
         background: #EE85B5;
         transform-origin: 0% 0%;
         transform: translate(-100%, -100%);
         transition: transform 0.3s cubic-bezier(.77, .2, .05, 1);
     }
    
     #menuMovil li {
         padding: 20px 0;
         transition-delay: 1s;
     }
    
     #menuMovil input:checked ~ ul {
         transform: none;
     }
    
     .menu {
         display: none;
     }
}

