* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #EE85B5;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    
}

p::selection {
    background: #EE85B5;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: auto;
}

/*Nav*/

.nav-principal {
    background-color: #EE85B5;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px 0;
}

/*Menu izquerda*/

.nav-principal ul {
    display: flex;
}

.nav-principal ul li {
    padding: 10px;
}

.nav-principal ul li a {
    padding: 24px;
}

.nav-principal ul li a:hover {
    background-color: #FF958C;
}

.nav-principal ul.menu {
    flex: 1;
    margin-left: 20px;
}

.nav-principal img {
    width: 200px;
}

/*Div Posts*/

.posts {
    padding: 120px;
}

.publicacion {
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
}

.descripcion {
    float: left;
}

.imagen {
    width: 600px;
    height: 800px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 10px 15px rgba($color: #000000, $alpha: 1.0);
}

.imagen img {
    background-color: none;
    width: 800px;
    height: 100%;
    transition: 2s;
}

.imagen img:hover {
    transform: translate(-5%);
    filter: brightness(80%);
}

/*Footer*/

.footer {
    background-color: black;
    font-size: 16px;
    display: flex;
    padding: 50px 50px;
    align-items: center;
}

.footer div {
    padding: 30px;
}
.footer ul li a:hover {
    border-bottom: 1px solid white;
}

.footer h4 {
    font-size: 20px;
}
