* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #EE85B5;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
}

p::-moz-selection {
  background: #EE85B5;
  color: white;
}

p::selection {
  background: #EE85B5;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: auto;
}

/*Nav*/
.nav-principal {
  background-color: #EE85B5;
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  padding: 20px 0;
}

/*Menu izquerda*/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li {
  padding: 10px;
}

.menu li a {
  padding: 24px;
}

.nav-principal li a:hover {
  background-color: #FF958C;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-principal img {
  width: 200px;
}

/*Div Posts*/
.posts {
  padding: 120px;
}

.publicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.descripcion {
  float: left;
  margin-left: 20px;
}

.imagen {
  width: 600px;
  height: 800px;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 1px 10px 15px black;
          box-shadow: 1px 10px 15px black;
}

.imagen img {
  background-color: none;
  width: 800px;
  height: 100%;
  -webkit-transition: 2s;
  transition: 2s;
}

.imagen img:hover {
  -webkit-transform: translate(-5%);
          transform: translate(-5%);
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

/*Footer*/
.footer {
  background-color: black;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer div {
  padding: 30px;
}

.footer ul li a:hover {
  border-bottom: 1px solid white;
}

.footer h4 {
  font-size: 20px;
}

/*Movil*/
#menuMovil {
  display: none;
}

@media (max-width: 800px) {
  .publicacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imagen {
    width: 200%;
    overflow: hidden;
  }
  .imagen img {
    width: 800px;
    height: 100%;
    -webkit-transform: translate(-10%);
            transform: translate(-10%);
  }
  .imagen img:hover {
    -webkit-transform: translate(-15%);
            transform: translate(-15%);
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
  }
  #menuMovil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: 25px;
    left: 25px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  #menuMovil input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 42px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 102;
    top: -10px;
    left: -10px;
  }
  #menuMovil span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 101;
    -webkit-transform-origin: 5px 0px;
            transform-origin: 5px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menuMovil span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  #menuMovil input:nth-last-child(2) {
    -webkit-transform-origin: 0% -100%;
            transform-origin: 0% -100%;
  }
  #menuMovil input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-3px, -1px);
            transform: rotate(45deg) translate(-3px, -1px);
    background: #fff;
  }
  #menuMovil input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuMovil input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
  }
  #menuMovil ul {
    z-index: 100;
    position: absolute;
    width: 100vw;
    height: 100vh;
    -webkit-box-shadow: 0 0 5px #000000;
            box-shadow: 0 0 5px #000000;
    margin: -50px 0 0 -75px;
    padding: 50px;
    padding-top: 15vh;
    text-align: center;
    font-size: 150%;
    background: #EE85B5;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menuMovil li {
    padding: 20px 0;
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
  #menuMovil input:checked ~ ul {
    -webkit-transform: none;
            transform: none;
  }
  .menu {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */